<ion-header>
  <ion-toolbar>
    <ion-title size="large">History</ion-title>
    <ion-buttons slot="end" (click)="deleteHistoryAll()">
      <ion-button color="danger">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-item *ngFor="let record of historyArray; let i = index">

        <ion-grid>
          <ion-row>
            <ion-col size="10">
              Author: {{ record.author }}
            </ion-col>
            <ion-col>
              <ion-button color="danger" class="ion-no-margin" (click)="deleteHistoryItem(i)"  size="small">
                <ion-icon name="close" ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10">
              Book: {{ record.book }}
            </ion-col>
            <ion-col>
              <!--<ion-icon name="reload-outline" (click)="searchHistory(record.book, record.author)"></ion-icon>-->
              <ion-button color="primary" class="ion-no-margin"  size="small" [routerLink]="['/tabs/tab1']" [queryParams]="{author: record.author, book: record.book}">
                  <ion-icon name="reload"></ion-icon>
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-item>
    </ion-list>

</ion-content>