<ion-header>
  <ion-toolbar>
    <ion-title>
      My library
    </ion-title>
    <ion-buttons slot="end" (click)="deleteLibrary()">
      <ion-button color="danger">Clear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let book of myLibrary">

      <ion-thumbnail slot="start">
        <ion-img src='{{"http://covers.openlibrary.org/b/olid/" + book.coverKey + "-M.jpg"}}'></ion-img>
      </ion-thumbnail>


      <ion-label>
        <h2>{{ book.name }}</h2>
        <h3>{{ book.author }}</h3>
      </ion-label>
      <ion-button (click)="deleteItem(book.key)" size="small" color="danger" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-reorder slot="end" class="ion-no-margin"></ion-reorder>
    </ion-item>
  </ion-reorder-group>

</ion-content>