<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src='{{"http://covers.openlibrary.org/b/olid/" + book.cover_edition_key + "-L.jpg"}}'/>
    <ion-card-header>
      <ion-card-subtitle>{{book.author_name}}</ion-card-subtitle>
      <ion-card-title>{{book.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{book.first_sentence}}
    </ion-card-content>
  </ion-card>

</ion-content>
