<ion-header>
  <ion-toolbar>
    <ion-title>{{workKey}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://picsum.photos/400/600" />
    <ion-card-header>
      <ion-card-subtitle>Author</ion-card-subtitle>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
